<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <customErrors mode="Off"/>
		<webServices>
			<soapExtensionTypes>
				<add type="DumpExtension, extensions" priority="0" group="0" />
				<add type="EncryptExtension, extensions" priority="1" group="0" />
			</soapExtensionTypes>
		</webServices>
		<authentication mode= "Forms">
	    </authentication>
    </system.web>
    <appSettings>
	<add key="MonoServerDefaultIndexFiles"
	     value="index.aspx, Default.aspx, default.aspx, index.html, index.htm" />
	<add key="DBProviderAssembly"
	     value="Mono.Data.PostgreSqlClient"/>
	<add key="DBConnectionType"
	     value="Mono.Data.PostgreSqlClient.PgSqlConnection"/>
	<add key="DBConnectionString"
	     value="hostaddr=127.0.0.1;user=monotest;password=monotest;dbname=monotest"/>
    </appSettings>
</configuration>

