<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
	    <sectionGroup name="mono.aspnet">
		<section name="acceptEncoding" type="Mono.ASPNET.AcceptEncodingSectionHandler, xsp"/>
	    </sectionGroup>
    </configSections>

    <system.web>
        <customErrors mode="Off"/>
	<webServices>
		<soapExtensionTypes>
			<add type="DumpExtension, extensions" priority="0" group="0" />
			<add type="EncryptExtension, extensions" priority="1" group="0" />
		</soapExtensionTypes>
	</webServices>
	<authentication mode= "Forms">
	</authentication>
    	<httpModules>
            <add name="AcceptEncodingModule" type="Mono.ASPNET.AcceptEncodingModule, xsp"/>
	</httpModules>
    </system.web>

    <mono.aspnet>
        <acceptEncoding>
	    <!-- Change disabled to 'no' to enable gzip content encoding -->
	    <add encoding="gzip" type="Mono.ASPNET.Filters.GZipFilter, xsp" disabled="yes" />
	</acceptEncoding>
    </mono.aspnet>

    <appSettings>
	<add key="MonoServerDefaultIndexFiles"
	     value="index.aspx, Default.aspx, default.aspx, index.html, index.htm" />
	<add key="DBProviderAssembly"
	     value="Mono.Data.PostgreSqlClient"/>
	<add key="DBConnectionType"
	     value="Mono.Data.PostgreSqlClient.PgSqlConnection"/>
	<add key="DBConnectionString"
	     value="hostaddr=127.0.0.1;user=monotest;password=monotest;dbname=monotest"/>
    </appSettings>
</configuration>

