Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.log
/config.status
/config.sub
/configure
/install-sh
/missing
*.mdb
*.dll
*.exe
build/m4/*
reautogen.sh
depcomp
libtool
ltmain.sh
xsp.spec
xsp.userprefs
src/*/bin
src/*/obj
xsp.v11.suo
src/Mono.WebServer.Test/test-results/
lib/libfpm*
lib/fpm_helper.o
lib/fpm_helper.lo
lib/.deps
lib/.libs
