
<configuration>
        <system.runtime.remoting>
                <application name="ASP.NET State Server">
                        <service>
                                <wellknown mode="Singleton"
                                        type="System.Web.SessionState.RemoteStateServer, System.Web"
                                        objectUri="StateServer" />
                        </service>
                        <channels>
                                <channel ref="tcp" port="42424" />
                        </channels>
                </application>
        </system.runtime.remoting>
</configuration>

