<configuration>
    <system.web>
        <customErrors mode="Off"/>
    <authentication mode= "None">
    </authentication>
    </system.web>
    <appSettings>
	<add key="MonoServerPort" value="8080"/>
	<add key="DBProviderAssembly"
	     value="Mono.Data.PostgreSqlClient"/>
	<add key="DBConnectionType"
	     value="Mono.Data.PostgreSqlClient.PgSqlConnection"/>
	<add key="DBConnectionString"
	     value="hostaddr=127.0.0.1;user=monotest;password=monotest;dbname=monotest"/>
    </appSettings>
</configuration>

